.blog h2 {
  font-size: 3em;
  margin-top: 80px;
  font-weight: 600;
}

.blog a {
  font-weight: 500;
  line-height: 2em;
}

.blog h3 a:hover {
  color: rgb(87, 159, 46);
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 4px solid rgb(112, 190, 67);
}

.title {
  padding-bottom: 30px;
}

.post h3 {
  display: inline;
}

.post h3 a {
  font-size: 1.5em;
}

.post p {
  display: inline;
}

.post p a {
  line-height: 1.5em;
}
